# Environment
NODE_ENV=development

# Server port
PORT=3000

# Logging
LOG_LEVEL=debug

# Better Auth
# Tip: Generate secret with `openssl rand -hex 32`
BETTER_AUTH_SECRET= 
# Better Auth URL
BETTER_AUTH_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_ROOT_PASSWORD=

# CORS
CORS_ORIGIN=http://localhost:5173

RESEND_API_KEY=
EMAIL_FROM=
APP_WEB_URL=http://localhost:5173

# Constructed URL (if your db.ts uses this)
DATABASE_URL=mysql://USER:PASSWORD@localhost:3306/DB_NAME